#zone-user-wrapper #block-user-login .form-item input {
  width: 220px; }

.view-display-id-gallery_thumbs .views-row {
  width: 160px;
  height: 160px;
  float: left;
  display: block;
  margin: 0 5px 5px 0; }
